* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--cinza);
  width: 100vw;
  height: 100vh;
}

main {
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

span {
  font-size: x-large;
}

.swiper {
  height: 500px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 450px) {
  .swiper {
    height: 270px;
  }
}

:root {
  --cinza: #f5f1f1;
  --azul: #285598;
}

ul, li, a {
  border: none;
  list-style-type: none;
  text-decoration: none;
  list-style: none;
}

header {
  width: 100%;
  background: white;
  padding: 10px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.barra {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0px 15px;   
}

.logus h1 {
  font-size: 28px;
  color: var(--azul);
}

.logus {
  display: flex;
  gap: 10px;
  position: relative;
}

.logus img {
  margin-left: 10px;
  width: 30px;
}

li img {
  width: 20px;
}

nav ul {
  display: flex;
  margin: auto;
  gap: 90px;   
}

.navbar ul li {
  position: relative;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #235997;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: width 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

ul a {
  font-size: 16px;
  color: #6882a4;
}

section {
  max-width: 1200px;
  margin: auto;
}

.quadredos {
  display: flex;
  align-items: center;
  gap: 60px;
  width: 100%;
  margin: auto;
  justify-content: space-around;
}

.todes {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #285598;
  padding: 40px;
  font-size: 20px;
  transition: transform 0.3s ease; 
}

.todes:hover {
  transform: scale(1.1); 
}

.quadredos .todes img {
  width: 160px;
  transition: transform 0.2s ease;  
}

.todes:hover img {
  transform: scale(1.1); 
}

.img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background: white;
  padding: 30px;
  border-radius: 6px;
  margin-top: 10px;
}

/*.user img{
  display: flex;
  right: 0;
}*/

/* MENU LATERAL - ARRUMAR*/

.menu-lateral {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 280px;
  z-index: 2;
  border-radius: 0px 18px 18px 0px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sidebar_content {
  padding: 12px;
}

#user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

#user_avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 20px;
}

#user_infos span:last-child {
  color: #6b6b6b;
  font-size: 12px;
}

#side_items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.side-item {
  border-radius: 8px;
  padding: 14px;
  cursor: pointer;
}

.side-item.active {
  background-color: #4f46e5;
}

.side-item:hover:not(.active),
#logout_btn:hover {
  background-color: #e3e9f7;
}

.side-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a0a0a;
}

.side-item.active a {
  color: #e3e9f7;
}

.side-item a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

#logout {
  border-top: 1px solid #e3e9f7;
  padding: 12px;
}

#logout_btn {
  border: none;
  padding: 12px;
  font-size: 14px;
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 8px;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
}
